<form [formGroup]="dynamicFormGroup" novalidate data-qa-ta="form">
  <div class="nuarch-dynamic-form-wrapper">
    <ng-template let-row ngFor [ngForOf]="keys(elementsByRow)">
      <div class="nuarch-dynamic-row-wrapper">
        <ng-template let-element ngFor [ngForOf]="elementsByRow[row]">
          <div
            class="nuarch-dynamic-element-wrapper"
            [class.hidden]="element.hidden"
            [ngClass]="!!element.name ? element.name : ''"
            [attr.style]="sanitizer.bypassSecurityTrustStyle('--element-width: ' + element.flex + '%')"
          >
            <nuarch-dynamic-element
              #dynamicElement
              *ngIf="dynamicFormGroup.controls[element.name]"
              [dynamicControl]="dynamicFormGroup.controls[element.name]"
              [id]="element.name"
              [name]="element.name"
              [label]="getLabel(element.label, element.name, element.type)"
              [hint]="element.hint"
              [type]="element.type"
              [required]="element.required"
              [min]="element.min"
              [max]="element.max"
              [appearance]="element.appearance"
              [readonly]="element.readonly"
              [minLength]="element.minLength"
              [maxLength]="element.maxLength"
              [selections]="element.selections"
              [showClear]="element.showClear"
              [loading]="element.loading"
              [multiple]="element.multiple"
              [hidden]="element.hidden"
              [filter]="element.filter"
              [filterType]="element.filterType"
              [displayWith]="element.displayWith"
              [errorMessageTemplate]="getErrorTemplateRef(element.name)"
              [optionTemplate]="getOptionTemplateRef(element.name)"
            ></nuarch-dynamic-element>
          </div>
        </ng-template>
      </div>
    </ng-template>
  </div>
  <ng-content></ng-content>
</form>
