<nuarch-list [viewModel]="viewModel" [openDetails]="false" [itemSize]="150">
  <ng-template #headerTemplate>
    <div class="custom-header">
      <div class="title">{{viewModel?.sectionName}}</div>
      <mat-card class="filter-card">
        <mat-card-content class="card-body" data-qa-ta="advance-filter">
          <div class="details">

            <div [formGroup]="filterGroup" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="100px"
                 class="form">
              <mat-form-field fxFlex appearance="outline">
                <mat-select placeholder="Employee Status"
                            formControlName="employeeStatus">
                  <mat-option *ngFor="let employeeStatus of ['Active', 'Inactive', 'Retired', 'Leave without Pay']"
                              [value]="employeeStatus">
                    {{employeeStatus}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex appearance="outline">
                <mat-select placeholder="Title" formControlName="title">
                  <mat-option *ngFor="let title of ['SW', 'SUPT', 'SUPV', 'Chief I', 'Chief II']" [value]="title">
                    {{title}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <div fxFlex="200px" class="actions">
                <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
                  <button mat-button color="accent" (click)="save()">
                    Apply Filter
                  </button>
                  <button mat-button (click)="clear()">
                    Cancel
                  </button>
                </div>
              </div>

            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</nuarch-list>
