<div class="nuarch-dynamic-checkbox-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
  <mat-checkbox [formControl]="control" [name]="name" [required]="required" [attr.data-qa-ta]="'checkbox-' + name">
    {{ label }}
  </mat-checkbox>
  <span class="mat-hint nuarch-dynamic-element-hint" [attr.data-qa-ta]="'hint-' + name">{{ hint }}</span>
</div>
