<div class="nuarch-dynamic-radio-button-group-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
    <mat-label class="label nuarch-dynamic-radio-button-group-label">
        <span *ngIf="label">
            {{label}}
            <span *ngIf="required">*</span>
        </span>
    </mat-label>
    <mat-radio-group [formControl]="control" [required]="required" class="nuarch-dynamic-radio-button-group"
                     [attr.data-qa-ta]="'radio-group-' + name">
      <mat-radio-button class="nuarch-dynamic-radio-button"  *ngFor="let selection of (isAsyncSelections ? (asyncSelections | async) : selections)"
                  [value]="selection.value || selection">{{ selection.displayText || selection }}
      </mat-radio-button>
    </mat-radio-group>
    <div class="mat-form-field-subscript-wrapper">
        <mat-error [attr.data-qa-ta]="'error-' + name">
          <ng-template
            [ngTemplateOutlet]="errorMessageTemplate"
            [ngTemplateOutletContext]="{ control: control, errors: control?.errors }"
          ></ng-template>
        </mat-error>
    </div>
</div>
