<div class="nuarch-dynamic-autocomplete-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
  <mat-form-field class="nuarch-dynamic-autocomplete-field"
                  [appearance]="readonly ? 'none' : appearance"
                  [floatLabel]="readonly ? 'always' : 'auto'"
                  [hideRequiredMarker]="readonly">
    <mat-label [attr.data-qa-ta]="'label-' + name">{{label}}</mat-label>
    <input matInput #trigger
           [attr.data-qa-ta]="'input-field-' + name"
           [matAutocomplete]="auto"
           [formControl]="control"
           [placeholder]="!readonly ? label : ''"
           [required]="required"/>
    <mat-hint align="start" [attr.data-qa-ta]="'hint-start-' + name">{{hint}}</mat-hint>
    <button mat-button *ngIf="control?.value && control?.enabled && !readonly" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear(control);">
      <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith ? displayWith : autocompleteDisplay">
      <mat-option *ngIf="loading && (loading | async)"><mat-spinner diameter="25"></mat-spinner></mat-option>
      <ng-container *ngIf="!loading || (loading | async) !== undefined">
        <ng-container
          *ngFor="let selection of (isAsyncSelections ? (filteredSelectionsAsync | async) : filteredSelections)">
          <mat-option [value]="selection">
            <span *ngIf="!optionTemplate && !displayWith">{{autocompleteDisplay(selection)}}</span>
            <span *ngIf="!optionTemplate && displayWith">{{displayWith(selection)}}</span>
            <ng-template *ngIf="optionTemplate"
              [ngTemplateOutlet]="optionTemplate"
              [ngTemplateOutletContext]="{selection: selection}">
            </ng-template>
          </mat-option>

        </ng-container>
      </ng-container>
    </mat-autocomplete>
    <mat-error [attr.data-qa-ta]="'error-' + name">
      <ng-template
        [ngTemplateOutlet]="errorMessageTemplate"
        [ngTemplateOutletContext]="{control: control, errors: control?.errors}">
      </ng-template>
    </mat-error>
  </mat-form-field>
</div>
