<nuarch-list [viewModel]="viewModel"
             [openDetails]="false"
             [buttonTriggersSearch]="false"
             [itemSize]="150"
             [filterModel]="filterModel">
  <ng-template let-row="row" #rowTemplate>
    <div *ngIf="!!(row?.id)" class="virtual-row">
      <div fxLayout="row" fxLayoutAlign="start center">
        <ng-container *ngFor="let column of viewModel?.columns">
          <div [fxFlex]="column.flex" *ngIf="column.value !== 'action'" [ngSwitch]="column.type">
            <div class="column-value" *ngSwitchCase="'date'">{{get(row, column.value) | date: 'MM/dd/yyyy'}}</div>
            <div class="column-value" *ngSwitchCase="'rd-legalPrefixes'">{{get(row, column.value)}}</div>
            <div class="column-value {{column.value === 'lawDescription' ? 'long-text' : ''}}" *ngSwitchDefault>
              {{get(row, column.value)}}
            </div>
          </div>
          <div [fxFlex]="column.flex" *ngIf="column.value === 'action'">
            <button mat-icon-button (click)="selectRecord($event, row?.id)">
              <fa-icon [icon]="faEdit"></fa-icon>&nbsp;Edit
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
</nuarch-list>
