<nuarch-list [viewModel]="viewModel" [openDetails]="false" [itemSize]="150" >
  <ng-template #headerTemplate>
    <div class="custom-header">
      <div class="title">{{viewModel?.sectionName}}</div>
      <nuarch-filter *ngIf="filterModel"
                     [filterModel]="filterModel"
                     [filterEntity]="filter | async"
                     [showTitle]="false">
        <ng-template let-context="context" #actionsTemplate>
          <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="20px">
            <button mat-raised-button color="primary" class="action save" (click)="save(context)">
              Apply Filter
            </button>
            <button mat-stroked-button class="action clear" color="accent" (click)="clear(context)">
              Clear
            </button>
          </div>
        </ng-template>
      </nuarch-filter>
    </div>
  </ng-template>
</nuarch-list>
