<div fxFlex fxLayout="row" fxLayoutAlign="center center" data-qa-ta="search" class="search-wrapper">
  <mat-form-field class="search-form-field" fxFlex floatLabel="never" appearance="outline">
    <input
      type="search"
      matInput
      [placeholder]="searchPlaceholder"
      #searchElement
      [formControl]="searchControl"
    />
    <mat-icon class="search-icon" (click)="doSearch()" matPrefix
              color="accent">search
    </mat-icon>
    <mat-icon class="clear-icon" [hidden]="!searchElement.value" (click)="clearSearch()" matSuffix>clear</mat-icon>
  </mat-form-field>
</div>
