<div class="nuarch-dynamic-slide-toggle-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
  <mat-slide-toggle [formControl]="control" [attr.name]="name" [required]="required" [attr.data-qa-ta]="'slide-toggle-' + name">
    {{ label }}
  </mat-slide-toggle>
  <span class="mat-hint nuarch-dynamic-element-hint" [attr.data-qa-ta]="'hint-' + name">{{ hint }}</span>
</div>
