<mat-card class="filter-card">
  <mat-card-content class="card-body" data-qa-ta="advance-filter">
    <div class="details">

      <div class="title mat-h1" *ngIf="filterModel?.sectionName">{{filterModel?.sectionName}} Filter</div>
      <div class="form" *ngIf="elements">
        <nuarch-dynamic-forms [elements]="elements" [formControls]="filterGroup" class="dynamic-form" (init)="initialized()">
          <ng-template let-element ngFor [ngForOf]="elements">
            <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                        <span *ngIf="control?.touched || !control?.pristine">
                            <span *ngIf="control?.hasError('required')">Required </span>
                            <span *ngIf="control?.hasError('invalidFormat')">Invalid format {{ control.errors.invalidFormat.hint }}</span>
                            <span *ngIf="control?.hasError('email')">Invalid format e.g., john@example.com</span>
                            <span *ngIf="control?.hasError('invalidSelection')">Must be one of selections </span>
                            <span *ngIf="control?.hasError('maxlength')">Maximum length allowed: {{ control.errors.maxlength['requiredLength'] }}</span>
                            <span *ngIf="control?.hasError('minlength')">Minimum length allowed: {{ control.errors.minlength['requiredLength'] }}</span>
                            <span *ngIf="control?.hasError('max')">Maximum value allowed: {{ control.errors.max['max'] }} </span>
                            <span *ngIf="control?.hasError('min')">Minimum value allowed: {{ control.errors.min['min'] }} </span>
                            <span *ngIf="control?.hasError('customError')">{{ control.errors['customError'] }} </span>
                            <span *ngIf="control?.hasError('matDatepickerMax')">Max Date allowed: {{ control.errors.matDatepickerMax['max'] |
                              date: dateFormat }} </span>
                            <span *ngIf="control?.hasError('matDatepickerMin')">Min Date allowed: {{ control.errors.matDatepickerMin['min'] |
                              date: dateFormat }} </span>
                            <span *ngIf="control?.hasError('pattern')">Invalid Pattern {{ element.hint }}</span>
                        </span>
            </ng-template>
          </ng-template>
        </nuarch-dynamic-forms>
      </div>
      <div class="actions" *ngIf="!actionsTemplate" data-qa-ta="advance-filter-actions">
        <div fxLayout="row" fxFlexFill fxLayoutAlign="start center" fxLayoutGap="20px">
          <button mat-raised-button color="primary" class="action" (click)="save()">
            Apply Filter
          </button>
          <button mat-stroked-button class="action" color="accent" (click)="close()">
            Cancel
          </button>
        </div>
      </div>
      <div class="actions">
        <ng-template [ngTemplateOutlet]="actionsTemplate"
                     [ngTemplateOutletContext]="{context: filterContext}"></ng-template>
      </div>

    </div>
  </mat-card-content>
</mat-card>
