<div
  class="nuarch-dynamic-slider-wrapper mat-form-field mat-form-field-can-float mat-form-field-should-float"
  [class.mat-focused]="slider._isActive"
  [class.hidden]="hidden"
  [class.readonly]="readonly"
>
  <span class="mat-form-field-label-wrapper">
    <label class="mat-form-field-label mat-primary nuarch-slider-label" [attr.data-qa-ta]="'label-'+ name">
      {{ label }}
      <span *ngIf="required && !control?.disabled" class="mat-form-field-required-marker">*</span>
    </label>
  </span>
  <div class="nuarch-dynamic-slider-field">
    <mat-slider
      #slider
      class="nuarch-dynamic-slider"
      [formControl]="control"
      [attr.name]="name"
      [min]="min"
      [max]="max"
      thumbLabel
      tickInterval="auto"
      [required]="required"
      (blur)="_handleBlur()"
      [attr.data-qa-ta]="'slider-field-' + name"
    ></mat-slider>
  </div>
  <span class="mat-hint nuarch-dynamic-element-hint" [attr.data-qa-ta]="'hint-' + name">{{ hint }}</span>
</div>
