<div class="nuarch-dynamic-file-input-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
  <mat-form-field
    nuarchFileDrop
    [appearance]="appearance"
    class="nuarch-dynamic-file-input-field"
    floatLabel="never"
    [disabled]="control?.disabled"
    (fileDrop)="_handlefileDrop($event)"
    (click)="!control?.disabled && fileInput.inputElement.click()"
    (keyup.enter)="!control?.disabled && fileInput.inputElement.click()"
    (keyup.delete)="fileInput.clear()"
    (keyup.backspace)="fileInput.clear()"
  >
    <mat-label [attr.data-qa-ta]="'label-' + name">{{label}}</mat-label>
    <input
      matInput
      [value]="control?.value?.name"
      [placeholder]="label"
      [attr.name]="name"
      [disabled]="control?.disabled"
      readonly
      [attr.data-qa-ta]="'input-field-' + name"
    />
    <mat-hint [attr.data-qa-ta]="'hint-' + name">{{ hint }}</mat-hint>
    <mat-error [attr.data-qa-ta]="'error-' + name">
      <ng-template
        [ngTemplateOutlet]="errorMessageTemplate"
        [ngTemplateOutletContext]="{ control: control, errors: control?.errors }"
      ></ng-template>
    </mat-error>
  </mat-form-field>
  <button mat-icon-button *ngIf="control.value" (click)="fileInput.clear()" (keyup.enter)="fileInput.clear()">
    <mat-icon>cancel</mat-icon>
  </button>
  <nuarch-file-input class="nuarch-file-input" #fileInput [formControl]="control">
    <mat-icon>folder</mat-icon>
    <span>{{ label }}</span>
  </nuarch-file-input>
</div>
