<mat-card class="details-content">
  <mat-card-content class="card-body" data-qa-ta="details-container">
    <mat-spinner class="spinner" *ngIf="loading | async"></mat-spinner>
    <div fxLayout="column" class="details">

      <div class="title mat-h1" fxFlex="40px" fxFlex.lt-sm="100">{{addMode ? 'Add a ' : editMode ? 'Edit ' : ''}}
        {{formModel?.sectionName}}
      </div>
      <div class="body" *ngIf="elements">
        <nuarch-dynamic-forms [elements]="elements" [formControls]="formControls" (init)="initialized()">
          <ng-template let-element ngFor [ngForOf]="elements">
            <ng-template let-control="control" [tdDynamicFormsError]="element.name">
                        <span *ngIf="control?.touched || !control?.pristine" [attr.data-qa-ta]="'details-error-'+element.name">
                            <span *ngIf="control?.hasError('required')">Required </span>
                            <span *ngIf="control?.hasError('invalidFormat')">Invalid format {{ control.errors.invalidFormat.hint }}</span>
                            <span *ngIf="control?.hasError('email')">Invalid format e.g., john@example.com</span>
                            <span *ngIf="control?.hasError('invalidSelection')">Must be one of selections </span>
                            <span *ngIf="control?.hasError('maxlength')"
                            >Maximum length allowed: {{ control.errors.maxlength['requiredLength'] }}
                            </span>
                            <span *ngIf="control?.hasError('max')">Maximum value allowed: {{ control.errors.max['max'] }} </span>
                            <span *ngIf="control?.hasError('min')">Minimum value allowed: {{ control.errors.min['min'] }} </span>
                            <span *ngIf="control?.hasError('customError')">{{ control.errors['customError'] }} </span>
                            <span *ngIf="control?.hasError('pattern')">Invalid Pattern {{ element.hint }}</span>
                        </span>
            </ng-template>
          </ng-template>
        </nuarch-dynamic-forms>
      </div>
      <div class="actions" *ngIf="!actionsTemplate" data-qa-ta="details-actions">
        <div fxLayout="row" fxFlexFill fxLayoutAlign="start center" fxLayoutGap="20px">
          <div fxFlex="50%">

            <div fxLayout="row" fxFlexFill fxLayoutAlign="start center" fxLayoutGap="20px">
              <button mat-raised-button color="primary" class="action" (click)="save()" *ngIf="!readMode">
                Submit
              </button>
              <button mat-raised-button [routerLink]="'edit'" color="primary" class="action" *ngIf="readMode">
                Edit
              </button>
              <button mat-stroked-button class="action" color="accent" (click)="cancel()">
                Cancel
              </button>
            </div>

          </div>
          <div fxFlex="50%">
            <ng-template [ngTemplateOutlet]="additionalActionsTemplate"
                         [ngTemplateOutletContext]="{context: entityContext}"></ng-template>
          </div>
        </div>
      </div>
      <div class="actions">
        <ng-template [ngTemplateOutlet]="actionsTemplate"
                     [ngTemplateOutletContext]="{context: entityContext}"></ng-template>
      </div>

    </div>
  </mat-card-content>
</mat-card>
