<ng-container *ngIf="!bodyTemplate">
  <ng-container *ngIf="!searchPipeAttributes">
    <ng-container *ngIf="!pagination">
      <ng-container *ngIf="(page | async) as entityPage">
    <span *ngIf="noRecordsFound" [hidden]="loading"
          class="no-records">No Records Found</span>
        <span *ngIf="!noRecordsFound && invalidFilter && !entityPage?.entity?.length" [hidden]="loading"
              class="no-records">Fill out the above filters and click Search</span>
        <div fxLayout="row wrap" fxFlexFill
             fxLayoutAlign="start start" class="card-details"
             nuarchInfiniteScrolling
             [scrollPercent]="90"
             (loadData)="loadData()">
          <ng-template let-index="index" let-item ngFor [ngForOf]="entityPage?.entity">
            <ng-template *ngIf="cardTemplate" [ngTemplateOutlet]="cardTemplate"
                         [ngTemplateOutletContext]="{index: index, item: item, referenceData: referenceData}">
            </ng-template>
          </ng-template>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="pagination">
      <ng-container *ngIf="(page | async) as entityPage">
    <span *ngIf="noRecordsFound" [hidden]="loading"
          class="no-records">No Records Found</span>
        <span *ngIf="!noRecordsFound && invalidFilter && !entityPage?.entity?.length" [hidden]="loading"
              class="no-records">Fill out the above filters and click Search</span>
        <div fxLayout="row wrap" fxFlexFill
             fxLayoutAlign="start start" class="card-details">
          <ng-template let-index="index" let-item ngFor [ngForOf]="entityPage?.entity">
            <ng-template *ngIf="cardTemplate" [ngTemplateOutlet]="cardTemplate"
                         [ngTemplateOutletContext]="{index: index, item: item, referenceData: referenceData}">
            </ng-template>
          </ng-template>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!!searchPipeAttributes">
    <ng-container *ngIf="(page | async) as entityPage">
      <div fxLayout="row wrap" fxFlexFill
           fxLayoutAlign="start start" class="card-details">
        <ng-template let-index="index" let-item ngFor
                     [ngForOf]="filteredItems">
          <ng-template *ngIf="cardTemplate" [ngTemplateOutlet]="cardTemplate"
                       [ngTemplateOutletContext]="{index: index, item: item, referenceData: referenceData}">
          </ng-template>
        </ng-template>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
<ng-container *ngIf="!!bodyTemplate">
  <span *ngIf="noRecordsFound" [hidden]="loading"
       class="no-records">No Records Found</span>
  <span *ngIf="!noRecordsFound && invalidFilter && !entityPage?.entity?.length" [hidden]="loading"
        class="no-records">Fill out the above filters and click Search</span>
  <div fxLayout="row wrap" fxFlexFill
       fxLayoutAlign="start start" class="card-details">
    <ng-template *ngIf="bodyTemplate" [ngTemplateOutlet]="bodyTemplate">
    </ng-template>
  </div>
</ng-container>

<mat-spinner *ngIf="optionsLoading"></mat-spinner>
