  @import './core';
  @import '../../../shared-styles/partials/nuarch-list.theme';
  @import '../../../shared-styles/partials/nuarch-snack-bar-theme';
  @import '../../../shared-styles/partials/nuarch-dialog-theme';
  @import '../../../shared-styles/partials/nuarch-filter.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-autocomplete.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-file-input.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-form.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-input.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-select.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-slider.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-textarea.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-radio-button.theme';
  @import '../../../shared-styles/partials/nuarch-dynamic-datepicker';
  @import '../../../shared-styles/partials/nuarch-breadcrumb';

  @mixin nuarch-angular-lib-theme($theme: null, $config: null, $colors: null) {
    $primary: mat.define-palette(mat.$blue-palette, A700, 100, 700);
    $accent: mat.define-palette(mat.$green-palette, A700, A200, 700);
    $warn: mat.define-palette(mat.$red-palette, A400, A100, 700);
    $material-theme: mat.define-light-theme($primary, $accent, $warn);
    $banner: mat.define-palette(mat.$yellow-palette, 200, A100, A400);

    $nuarch-theme: $material-theme;
    @if $theme != null {
      $nuarch-theme: $theme;
    }

    $typography: mat.define-typography-config(
      $font-family: 'Roboto, "Helvetica Neue", sans-serif',
      $display-4: mat.define-typography-level(60px, 80px, 300),
      $display-3: mat.define-typography-level(48px, 64px, 400),
      $display-2: mat.define-typography-level(36px, 48px, 500),
      $display-1: mat.define-typography-level(24px, 32px, 400),
      $headline: mat.define-typography-level(20px, 24px, 500, $letter-spacing: .25em),
      $title: mat.define-typography-level(18px, 24px, 500, $letter-spacing: .4em),
      $subheading-2: mat.define-typography-level(16px, 28px, 500, $letter-spacing: .1em),
      $subheading-1: mat.define-typography-level(14px, 20px, 500, $letter-spacing: .2em),
      $body-2: mat.define-typography-level(16px, 28px, 400, $letter-spacing: .5em),
      $body-1: mat.define-typography-level(14px, 24px, 400, $letter-spacing: .25em),
      $caption: mat.define-typography-level(13px, 20px, 400),
      $button: mat.define-typography-level(14px, 16px, 500, $letter-spacing: 1em),
        // Line-height must be unit-less fraction of the font-size.
      $input: mat.define-typography-level(inherit, 1.125, 400)
    );

    @if $config == null {
      $config: mat.define-typography-config();
    }

    @if $colors == null {
      $colors: (
        primary: $primary,
        warn: $warn,
        error: $warn,
      );

    }
    .hidden {
      display: none !important;
    }
    .readonly {
      pointer-events: none;
    }
    .highlight {
      font-size: 12px;
    }
  @include nuarch-filter-theme($nuarch-theme, $config);
  @include nuarch-list-theme($nuarch-theme, $config);
  @include nuarch-snack-bar-theme($nuarch-theme);
  @include nuarch-dialog-theme($nuarch-theme, $colors);
  @include nuarch-dynamic-form-theme($nuarch-theme, $config);
  @include nuarch-dynamic-datepicker-theme($nuarch-theme, $config);
  @include nuarch-dynamic-autocomplete-theme($nuarch-theme, $config);
  @include nuarch-dynamic-select-theme($nuarch-theme, $config);
  @include nuarch-dynamic-input-theme($nuarch-theme, $config);
  @include nuarch-dynamic-file-input-theme($nuarch-theme, $config);
  @include nuarch-dynamic-radio-button-theme($nuarch-theme, $config);
  @include nuarch-dynamic-slider-theme($nuarch-theme, $config);
  @include nuarch-dynamic-textarea-theme($nuarch-theme, $config);
  @include nuarch-dynamic-datepicker-theme($nuarch-theme, $config);
  @include nuarch-breadcrumb-theme($nuarch-theme, $config);
}
