.demo-card {
  height: calc(100% - 32px);
  box-shadow: none;
  overflow-y: auto;
  .mat-toolbar-row {
    background-color: #f5f5f5;
    height: 56px;
  }
  .demo-content {
    height: calc(100% - 50px);
  }
}
:host {
  display: block;
  margin-bottom: 2em;
}
