<mat-card class="demo-card">
  <mat-toolbar-row>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="start center">
      <span fxFlex>{{ demoName }}</span>
      <div fxFlex>{{ demoDescription }}</div>
      <div fxFlex>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button (click)="toggleCodeView()" mat-icon-button>
            <mat-icon>code</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
  <mat-tab-group *ngIf="viewCode">
    <mat-tab label="HTML">
      <td-highlight lang="html">
        {{ htmlFile }}
      </td-highlight>
    </mat-tab>
    <mat-tab label="TS">
      <td-highlight lang="typescript">
        {{ typescriptFile }}
      </td-highlight>
    </mat-tab>
    <mat-tab label="SCSS" *ngIf="stylesFile">
      <td-highlight lang="scss">
        {{ stylesFile }}
      </td-highlight>
    </mat-tab>
  </mat-tab-group>
  <mat-divider></mat-divider>
  <mat-card-content class="demo-content">
    <ng-content></ng-content>
  </mat-card-content>
</mat-card>
