<div class="examples">
  <demo-component [componentName]="'laws-list'"
                  [demoName]="'laws-list-row-template'"
                  [demoDescription]="'Pass a view model and custom row template'"
                  class="list">
    <nuarch-laws-list-row-template></nuarch-laws-list-row-template>
  </demo-component>
</div>
