@use '@angular/material' as mat;
@import '../../../../node_modules/@covalent/core/theming/all-theme';

// these values were not meant to be public, but were exposed before for import, so they are copied over
$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$dsny-primary: (
  100: #3D8674,
  500: #3D8674,
  700: #015949,
  900: #002f22,
  contrast: (
    500: $light-primary-text,
    700: $light-primary-text,
    900: $light-primary-text
  )
);

$dsny-accent: (
  100: #536771,
  500: #536771,
  700: #293d46,
  900: #00171f,
  contrast: (
    500: $light-primary-text,
    700: $light-primary-text,
    900: $light-primary-text
  )
);

$dsny-warn: (
  100: #e3b505,
  500: #e3b505,
  700: #e3b505,
  contrast: (
    100: $light-primary-text,
    500: $light-primary-text,
    700: $light-primary-text,
  )
);

$dsny-error: (
  100: #E84A46,
  500: #E84A46,
  700: #E84A46,
  contrast: (
    100: $light-primary-text,
    500: $light-primary-text,
    700: $light-primary-text,
  )
);

$dsny-gray: (
  50: #ffffff,
  100: #fbfbfb,
  200: #f5f5f5,
  300: #e6e6e6,
  700: #5c5c5c,
  800: #3d3d3d,
  900: #212121,
  1000: #000000,
  contrast: (
    10: $dark-primary-text,
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    1000: $light-primary-text
  )
);


// Define the light theme.
$primary: mat.define-palette($dsny-primary, 500, 100, 700);
$accent: mat.define-palette($dsny-accent, 500, 100, 700);
$warn: mat.define-palette($dsny-warn, 500, 100, 700);
$error: mat.define-palette($dsny-error, 500, 100, 700);
$grey-scale: mat.define-palette($dsny-gray, 800, 200, 1000);

$colors: (
  primary: $primary,
  warn: $warn,
  error: $error,
  gray: $grey-scale,
);


//$info: mat-palette($mat-blue, 500, 100, 700);

$theme: mat.define-light-theme($primary, $accent, $warn);

// -or- Can set colour by hex value too
$custom-background-color: mat.get-color-from-palette($dsny-gray, 50);

$background: map-get($theme, background);
$background: map_merge($background, (background: $custom-background-color));
$theme: map_merge($theme, (background: $background));

// Insert custom background color
//$lbackground: map-get($ltheme, background);
//$background: map_merge($lbackground, (background: map_get($grey-scale, 50)));
//$theme: map_merge($ltheme, (background: $background));

$typography: mat.define-typography-config(
  $font-family: 'Roboto, monospace'
);

$header-height: 64px;
$card-gutter: 8px;

$z-index-spinner: 5;
$z-index-backdrop: 3;
$scrollbar-background-color: mat.get-color-from-palette($grey-scale, 300);
$scrollbar-color: mat.get-color-from-palette($grey-scale, 800);
$content-side-margin: 72px;
