@use '@angular/material' as mat;

@mixin custom-header-theme($theme: null, $config: null, $colors: null) {
  .header-card {
    width: 100%;
    box-shadow: none;
  }
  .custom-header {
    .title {
      font-size: mat.font-size($typography, headline);
    }
    .filter-card {
      box-shadow: none;
      .details {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        height: fit-content;
        width: 100%;
        .form {
          flex: 1 1 auto;
          .dynamic-form {
            width: 100%;
            .mat-form-field-wrapper {
              padding-bottom: 0px;
            }
          }
        }
        .actions {
          flex: 0 0 200px;
        }
      }
    }
  }
}
