.mat-tab-link {
  // font-weight: 500;
  letter-spacing: 0.0892857143em;
  color: #757575;
  opacity: 1;
}

.mat-tab-nav-bar.mat-accent .mat-tab-link {
  &.active {
    color: #138483;
  }
}

.content-title {
  font-size: 28px;
}
.content-details {
  height: calc(100% - 16px);
  .content-details-content {
    height: calc(100% - 64px);
  }
}
