<mat-card class="content-details">
  <mat-card-title>{{ componentName }}</mat-card-title>
  <mat-card-subtitle>{{ componentDescription }}</mat-card-subtitle>
  <mat-card-content class="content-details-content">

    <nav mat-tab-nav-bar color="accent" class="push-bottom-lg">
      <a
        mat-tab-link
        *ngFor="let link of navLinks"
        [routerLink]="link.route"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        {{ link.name | uppercase }}
      </a>
    </nav>

    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>
