<nuarch-list [viewModel]="viewModel"
             [openDetails]="false"
             [buttonTriggersSearch]="false"
             [trackBy]="trackBy"
             [itemSize]="150"
             >
  <ng-template let-row="row" #rowTemplate>
    <div *ngIf="!!(row?.id)" class="virtual-row">
      <div fxLayout="row" fxLayoutAlign="start center">
        <ng-container *ngFor="let column of viewModel?.columns">
          <div [fxFlex]="column.flex" *ngIf="column.value !== 'action'" [ngSwitch]="column.type">
            <div class="column-value" *ngSwitchCase="'date'">{{get(row, column.value) | date: 'MM/dd/yyyy'}}</div>
            <div class="column-value" *ngSwitchCase="'rd-legalPrefixes'">{{get(row, column.value)}}</div>
            <div class="column-value {{column.value === 'lawDescription' ? 'long-text' : ''}}" *ngSwitchDefault>
              {{get(row, column.value)}}
            </div>
          </div>
          <div [fxFlex]="column.flex" *ngIf="column.value === 'action'">
            <button mat-icon-button (click)="selectRecord(row.id)">
              <fa-icon [icon]="faEdit"></fa-icon>&nbsp;Edit
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
  <ng-template #filterTemplate>
    <mat-card>
      <mat-card-title>Advanced Filter</mat-card-title>
      <mat-card-subtitle>Laws</mat-card-subtitle>
      <mat-card-content>
        <div [formGroup]="filterGroup" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="100px">
          <mat-form-field fxFill fxFlex.lt-sm="100%" fxFlex>
            <mat-select placeholder="Employee Status"
                        formControlName="employeeStatus">
              <mat-option *ngFor="let employeeStatus of ['Active', 'Inactive', 'Retired', 'Leave without Pay']"
                          [value]="employeeStatus">
                {{employeeStatus}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex fxFill fxFlex.lt-sm="100%">
            <mat-select placeholder="Title" formControlName="title">
              <mat-option *ngFor="let title of ['SW', 'SUPT', 'SUPV', 'Chief I', 'Chief II']" [value]="title">
                {{title}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
            <button mat-button color="accent"
                    [disabled]="!filterGroup?.touched || filterGroup.invalid">
              Apply Filter
            </button>
            <button mat-button>
              Cancel
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-template>
</nuarch-list>
