<div class="breadcrumb" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
  <ng-container *ngIf="(breadcrumbs | async) as breadcrumbList">
    <span *ngFor="let breadcrumb of breadcrumbList; last as isLast;"
          [ngClass]="{'active': isLast}" aria-current="page" class="breadcrumb-item">
      <a *ngIf="!isLast; else lastRoute"
         [routerLink]="[breadcrumb.url]"
         routerLinkActive="active">
        {{ breadcrumb.label }}
      </a>
      <ng-template #lastRoute>{{ breadcrumb.label }}</ng-template>
    </span>
  </ng-container>
</div>
