<nuarch-list [viewModel]="viewModel"
             [openDetails]="false"
             [buttonTriggersSearch]="false"
             [trackBy]="trackBy"
             [itemSize]="150"
             [filterModel]="filterModel"
             >
  <ng-template let-item="item" #cardTemplate>
    <mat-card class="item">
      <mat-card-title>{{item.legalPrefixId?.correlation}}</mat-card-title>
      <mat-card-subtitle>{{item.lawSection}}</mat-card-subtitle>
      <mat-card-content class="content">{{item.abbreviatedLaw}}</mat-card-content>
      <mat-card-actions class="actions">
        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-icon-button (click)="selectRecord(item.id)">
            <fa-icon [icon]="faEdit"></fa-icon>&nbsp;Edit
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </ng-template>
</nuarch-list>
