<ng-container *ngIf="!pagination">
  <ng-container *ngIf="(page | async) as entityPage" >
    <div class="search-table" fxLayout="column" fxLayoutAlign="flex-start" fxFlexFill
         matSort [matSortActive]="active"
         matSortDisableClear
         [matSortDirection]="entityPage?.pageInfo?.sort?.direction"
         (matSortChange)="sortData($event)" *ngIf="entityPage && entityPage?.entity?.length">
      <div class="header">
        <div class="row header-row" data-qa-ta="search-list-header" >
          <ng-container *ngFor="let column of columns">
            <div [fxFlex]="column.flex" [mat-sort-header]="column.value" [disabled]="!column.sortable"
                 [attr.data-qa-ta]="'list-header-' + column.value">{{column.label}}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="search-table-body" data-qa-ta="search-list-table">
        <nuarch-virtual-scroll-container #virtualScroll class="scroll-container" [data]="entityPage?.entity"
                                         (bottom)="loadData()">
          <ng-template let-row="row" let-index="index" nuVirtualScrollRow>
            <div #rowElement [style.width.%]="100" [style.height.px]="itemSize" class="row">
              <ng-template *ngIf="rowTemplate" [ngTemplateOutlet]="rowTemplate"
                           [ngTemplateOutletContext]="{row: row, index: index, referenceData: referenceData}">
              </ng-template>
            </div>
          </ng-template>
        </nuarch-virtual-scroll-container>
      </div>
    </div>
    <span *ngIf="noRecordsFound && !entityPage?.entity?.length" [hidden]="loading"
          class="no-records">No Records Found</span>
    <span *ngIf="!noRecordsFound && invalidFilter && !entityPage?.entity?.length" [hidden]="loading"
          class="no-records">Fill out the above filters and click Search</span>
  </ng-container>
</ng-container>

<ng-container *ngIf="pagination">
  <ng-container *ngIf="(page | async) as entityPage">
    <div class="search-table" fxLayout="column" fxLayoutAlign="flex-start" fxFlexFill
         matSort [matSortActive]="active"
         matSortDisableClear
         [matSortDirection]="entityPage?.pageInfo?.sort?.direction"
         (matSortChange)="sortData($event)" *ngIf="entityPage && entityPage?.entity?.length">
      <div class="header">
        <div class="row header-row" data-qa-ta="search-list-header">
          <ng-container *ngFor="let column of columns">
            <div [fxFlex]="column.flex" [mat-sort-header]="column.value" [disabled]="!column.sortable"
                 [attr.data-qa-ta]="'list-header-' + column.value">{{column.label}}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="search-table-body" data-qa-ta="search-list-table">
        <div fxLayout="row wrap" fxFlexFill
             fxLayoutAlign="start start" class="card-details">
          <ng-template let-index let-item ngFor [ngForOf]="entityPage?.entity">
            <div #rowElement [style.width.%]="100" [style.height.px]="itemSize" class="row">
              <ng-template *ngIf="rowTemplate" [ngTemplateOutlet]="rowTemplate"
                           [ngTemplateOutletContext]="{row: item, index: index, referenceData: referenceData}">
              </ng-template>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <span *ngIf="noRecordsFound && !entityPage?.entity?.length" [hidden]="loading"
          class="no-records">No Records Found</span>
    <span *ngIf="!noRecordsFound && invalidFilter && !entityPage?.entity?.length" [hidden]="loading"
          class="no-records">Fill out the above filters and click Search</span>
  </ng-container>
</ng-container>
