<div>
  <button
    mat-raised-button
    class="nuarch-file-input"
    type="button"
    [color]="color"
    [multiple]="multiple"
    [disabled]="disabled"
    (keyup.enter)="fileInput.click()"
    (click)="fileInput.click()"
    (fileDrop)="handleSelect($event)"
    nuarchFileDrop
  >
    <ng-content></ng-content>
  </button>
  <input
    #fileInput
    class="nuarch-file-input-hidden"
    type="file"
    [attr.accept]="accept"
    (fileSelect)="handleSelect($event)"
    [multiple]="multiple"
    [disabled]="disabled"
    nuarchFileSelect
  />
</div>
