:host {
  .nuarch-file-input {
    padding-left: 8px;
    padding-right: 8px;
  }
  input.nuarch-file-input-hidden {
    display: none;
  }
  /**
  * Class that is added ondragenter by the [NuFileDrop] directive.
  */
  .drop-zone {
    // Animation.
    border-radius: 3px;
    * {
      pointer-events: none; //added to fix bug that re-throws dragleave/dragenter by child elements
    }
  }
}
