@mixin nuarch-dynamic-form-theme($theme, $typography) {
  .nuarch-dynamic-form-wrapper {
    .mat-form-field-infix {
      width: auto;
    }

    .nuarch-dynamic-element-hint {
      font-size: 75%;
      display: block;
    }
    flex-wrap: wrap;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: flex-start;
    .nuarch-dynamic-row-wrapper {
      width: 100%;
      flex-wrap: wrap;
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      max-width: 100%;
      justify-content: flex-start;
    }
    .nuarch-dynamic-element-wrapper {
      max-height: 100%;
      box-sizing: border-box;
      position: relative;
      padding: 4px 4px 8px;
      flex: 1 1 calc(var(--element-width));
      max-width: calc(var(--element-width));
    }
  }
}
