@mixin nuarch-dynamic-radio-button-theme($theme, $typography) {
  .nuarch-dynamic-radio-button-group {
    // [layout="row"]
    flex-direction: row;
    // [layout]
    display: flex;
    box-sizing: border-box;
    .nuarch-dynamic-radio-button {
      // [flex]
      flex: 1;
      box-sizing: border-box;
    }
  }

  .nuarch-dynamic-radio-button-group-wrapper {
    padding-bottom: 1.34375em;
    position: relative;
  }

  .nuarch-dynamic-radio-button-group-label {
    display: block;
    margin-bottom: 1.34375em;
    min-height: 4px;
  }

  .mat-form-field-subscript-wrapper {
    padding: 0 1em 0 1em;
  }
}
