@mixin nuarch-dynamic-textarea-theme($theme, $typography) {
  .nuarch-dynamic-textarea-wrapper {
    // [layout="row"]
    flex-direction: row;
    // [layout]
    display: flex;
    box-sizing: border-box;
    .nuarch-dynamic-textarea-field {
      // [flex]
      flex: 1;
      box-sizing: border-box;
    }
  }
}
