@mixin nuarch-dynamic-slider-theme($theme, $typography) {
  .nuarch-dynamic-slider-wrapper {
    display: block;
  }
  .nuarch-dynamic-slider-field {
    position: relative;
    // [layout="row"]
    flex-direction: row;
    // [layout]
    display: flex;
    box-sizing: border-box;
    .nuarch-dynamic-slider {
      // [flex]
      flex: 1;
    }
  }
}
