@mixin nuarch-filter-theme($theme, $typography) {
  .filter-card {
    .details {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: flex-start;
      height: fit-content;
      width: 100%;
      .title {
        flex: 0 0 40px;
      }
      .form {
        flex: 0 0 auto;
        .dynamic-form {
          width: 100%;
        }
      }
    }
  }
}
