@mixin nuarch-dynamic-file-input-theme($theme, $typography) {
  .nuarch-dynamic-file-input-wrapper {
    // [layout="row"]
    flex-direction: row;
    // [layout]
    display: flex;

    box-sizing: border-box;
    .nuarch-dynamic-file-input-field {
      // [flex]
      flex: 1;
      box-sizing: border-box;
    }
  }

  .nuarch-file-input {
    margin-left: 10px;
  }
}
