@mixin nuarch-dynamic-datepicker-theme($theme, $typography) {
  .nuarch-dynamic-datepicker-wrapper {
    // [layout="row"]
    flex-direction: row;
    // [layout]
    display: flex;
    box-sizing: border-box;
    .nuarch-dynamic-datepicker-field {
      // [flex]
      flex: 1;
      box-sizing: border-box;
    }
  }
}
