@mixin nuarch-dynamic-autocomplete-theme($theme, $typography) {
  .nuarch-dynamic-autocomplete-wrapper {
    // [layout="row"]
    flex-direction: row;
    // [layout]
    display: flex;
    box-sizing: border-box;
    .nuarch-dynamic-autocomplete-field {
      // [flex]
      flex: 1;
      box-sizing: border-box;
    }

  }

  .mat-form-field-suffix {
    display: flex;
  }
}
