@mixin nuarch-breadcrumb-theme($theme, $colors) {
  .breadcrumb {
    width: 100vw;
    font-size: mat.font-size($typography, caption);
    top: calc(1rem);
    .breadcrumb-item {
      color: rgba(255, 255, 255, 1);
      a {
        color: white;
        :hover {
          cursor: pointer;
        }
      }
    }
    .breadcrumb-item + .breadcrumb-item:before {
      content: " > ";
      color: white;
    }
  }
}
