@mixin nuarch-snack-bar-theme($theme) {
  $background: map-get($theme, background);

  // TODO replace this and use a real snackbar
  .warn-snackbar {
    .mat-simple-snackbar-action {
      color: mat.get-color-from-palette($background, dialog);
    }
  }

  .success-snackbar {
    .mat-simple-snackbar-action {
      color: mat.get-color-from-palette($primary, dialog);
    }
  }
}
