@mixin nuarch-dialog-theme($theme, $colors) {
  $background: map-get($theme, background);
  $warn: map-get($theme, warn);
  $error: map-get($colors, error);

  .cancel-dialog {
    .mat-dialog-title {
      color: mat.get-color-from-palette($error);
    }
  }

  .mat-dialog-actions {
    &[align='end'] {
      justify-content: flex-end;
    }

    &[align='center'] {
      justify-content: center;
    }

    .error-button {
      background-color: mat.get-color-from-palette($error, 500);
      color: mat.get-contrast-color-from-palette($error, 500);
    }
  }
}
