<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side" [opened]="true" [class.collapsed]="!showText">
    <div class="inner-side-nav">
      <div *ngIf="!showText" class="sidenav-control">
        <button mat-mini-fab color="primary" class="drawer-toggle">
          <mat-icon matListIcon matTooltip="Expand menu" [matTooltipPosition]="'right'"
            class="icon"(click)="toggleText()">keyboard_arrow_right
          </mat-icon>
        </button>
      </div>
      <div *ngIf="showText" class="sidenav-control">
        <div>
          <div class="application-name mat-h2">Nuarch - Angular Library</div>
          <button mat-mini-fab color="primary" class="drawer-toggle">
            <mat-icon matListIcon matTooltip="Collapse menu" [matTooltipPosition]="'left'" class="icon"
              (click)="toggleText()">keyboard_arrow_left
            </mat-icon>
          </button>
        </div>
      </div>
      <mat-nav-list>
        <a mat-list-item (click)="home()">
          <mat-icon matListIcon class="icon" matTooltip="Select Application" [matTooltipPosition]="'right'">home
          </mat-icon>
          <span class="icon-text" *ngIf="showText">List</span>
        </a>
        <a mat-list-item [routerLink]="['/law']" routerLinkActive="active">
          <mat-icon matListIcon class="icon" matTooltip="Laws" [matTooltipPosition]="'right'">school</mat-icon>
          <span class="icon-text" *ngIf="showText">Laws</span>
        </a>
        <a mat-list-item (click)="logout()">
          <mat-icon matListIcon class="icon" matTooltip="Logout" [matTooltipPosition]="'right'">exit_to_app</mat-icon>
          <span class="icon-text" *ngIf="showText">Logout</span>
        </a>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar" #toolbar>
      <div class="main-header" fxLayout="row" fxLayoutAlign="flex-start center">
        <div fxFlex="50%">
          <div fxLayout="row" fxLayoutAlign="flex-start center" fxFlexFill>
            <mat-icon fxHide.gt-xs fxFlex="50px" matListIcon class="sidenav-icon" (click)="sidenav.toggle()">
              view_headline
            </mat-icon>
            <span fxFlex class="application-name mat-h2">NOVAS</span>
          </div>
        </div>
        <div fxFlex="50%" class="actions">
          <div fxLayout="row" fxLayoutAlign="end center" fxFlexFill fxLayoutGap="5px">
            <ng-content select="[pageActions]"></ng-content>
          </div>
        </div>
      </div>
      <mat-icon fxHide.xs [routerLink]="['/']" class="mat-icon-logo" svgIcon="assets:dsny"></mat-icon>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
