<h2 mat-dialog-title>Discard changes?</h2>
<div mat-dialog-content class="mat-typography">
  <p>You will lose the changes you have made. Are you sure?</p>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">No, keep editing</button>
  <button mat-raised-button [mat-dialog-close]="true" class="error-button" cdkFocusInitial>Yes, discard it</button>
</div>
