<mat-spinner *ngIf="(listLoading | async)"></mat-spinner>
<div class="list-wrapper">
  <div class="list-container">
    <div class="list" [hidden]="showAdvanceFilters" data-qa-ta="search-list-container">
      <div class="list-header" *ngIf="!headerTemplate" fxFlex.lt-sm="100">
        <div class="header-row">
          <div class="title" [attr.data-qa-ta]="'list-title-' + viewModel?.sectionName">
            {{viewModel?.sectionName}}
          </div>

          <div class="search" *ngIf="showSearchControl">
            <nuarch-search fxFill [searchPlaceholder]="viewModel?.searchPlaceholder"
                           [searchButton]="buttonTriggersSearch"
                           [searchString]="searchString | async"
                           (search)="search($event)" #searchComp></nuarch-search>
          </div>
          <div *ngIf="cardTemplate && showSortControl" class="list-sort">
            <mat-form-field appearance="outline" class="sort-filter">
              <mat-label>Sort By:</mat-label>
              <mat-select placeholder="Sort By" [formControl]="sortBy">
                <mat-select-trigger>
                  <span data-qa-ta="option-sort-value">{{sortBy?.value?.label}}</span>
                  <span class="card-sort-icon" data-qa-ta="option-sort-descending"
                        *ngIf="sortBy?.value?.direction === descendingSortDirection">Descending
              </span>
                  <span class="card-sort-icon" data-qa-ta="option-sort-ascending"
                        *ngIf="sortBy?.value?.direction === ascendingSortDirection">Ascending
              </span>
                </mat-select-trigger>
                <mat-option *ngFor="let column of cardSortColumns" [value]="column">
                  <span data-qa-ta="option-sort-value">{{column.label}}</span>
                  <span data-qa-ta="option-sort-descending" class="card-sort-icon"
                        *ngIf="column.direction === descendingSortDirection">Descending</span>
                  <span data-qa-ta="option-sort-ascending" class="card-sort-icon"
                        *ngIf="column.direction === ascendingSortDirection">Ascending</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <mat-icon
            [color]="hasFilter ? 'accent' : ''"
            *ngIf="filterModel || filterTemplate"
            (click)="showAdvanceFilters = true"
            class="text-center filter-icon"
            fxHide.xs
          >tune
          </mat-icon>

          <button *ngIf="showAdd" data-qa-ta="add-law" class="add-action" (click)="navigate('add')" mat-flat-button color="primary">
            {{viewModel.addButtonText || 'Add'}}
          </button>
        </div>

      </div>

      <ng-template *ngIf="headerTemplate" [ngTemplateOutlet]="headerTemplate">
      </ng-template>

      <nuarch-list-table
        *ngIf="!rowTemplate && !cardTemplate && !bodyTemplate"
        class="list-body"
        [columns]="viewModel?.columns"
        [page]="entityPage"
        [invalidFilter]="invalidFilter"
        [noRecordsFound]="noRecordsFound | async"
        [loading]="listLoading | async"
        [itemSize]="itemSize"
        [pagination]="pagination"
        [referenceData]="referenceData | async"
        (select)="navigate($event)"
        (sort)="sort($event)"
        (load)="loadMore()"
      ></nuarch-list-table>

      <nuarch-list-multi-row
        *ngIf="rowTemplate"
        class="list-body"
        [columns]="viewModel?.columns"
        [page]="entityPage"
        [invalidFilter]="invalidFilter"
        [noRecordsFound]="noRecordsFound | async"
        [loading]="listLoading | async"
        [itemSize]="itemSize"
        [pagination]="pagination"
        [referenceData]="referenceData | async"
        [rowTemplate]="rowTemplate"
        (select)="navigate($event)"
        (sort)="sort($event)"
        (load)="loadMore()"
      ></nuarch-list-multi-row>

      <nuarch-list-card
        *ngIf="cardTemplate || bodyTemplate"
        class="list-body"
        [page]="entityPage"
        [searchPipeAttributes]="searchPipeAttributes"
        [searchString]="searchString"
        [invalidFilter]="invalidFilter"
        [noRecordsFound]="noRecordsFound | async"
        [pagination]="pagination"
        [loading]="listLoading | async"
        [referenceData]="referenceData | async"
        [cardTemplate]="cardTemplate"
        [bodyTemplate]="bodyTemplate"
        (select)="navigate($event)"
        (sort)="sort($event)"
        (load)="loadMore()"></nuarch-list-card>
    </div>
  </div>
  <nuarch-filter *ngIf="(filterModel || filterGroup) && !filterTemplate"
                 [filterModel]="filterModel"
                 [filterGroup]="filterGroup"
                 [filterEntity]="filter | async"
                 [hidden]="!showAdvanceFilters"
                 (apply)="applyFilter($event)"
                 (cancel)="cancelFilter()"></nuarch-filter>

  <ng-template *ngIf="filterTemplate && showAdvanceFilters" [ngTemplateOutlet]="filterTemplate">
  </ng-template>

  <div class="pager-container" *ngIf="pagination">
    <div class="pager">
      <mat-paginator [length]="page?.serverPageInfo?.totalElements"
                     [pageSize]="page?.pageInfo?.size"
                     [pageSizeOptions]="pageSizeOptions"
                     [pageIndex]="page?.serverPageInfo?.number"
                     (page)="paginate($event)">
      </mat-paginator>
    </div>
  </div>
</div>
