<div class="nuarch-dynamic-textarea-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
  <mat-form-field class="nuarch-dynamic-textarea-field"
                  [appearance]="readonly ? 'none' : appearance"
                  [floatLabel]="readonly ? 'always' : 'auto'"
                  [hideRequiredMarker]="readonly">
    <mat-label [attr.data-qa-ta]="'label-' + name">{{label}}</mat-label>
    <textarea
      #elementInput
      matInput
      [formControl]="control"
      [placeholder]="label"
      [required]="required"
      [attr.name]="name"
      [attr.minLength]="minLength"
      [attr.maxLength]="maxLength"
      rows="4"
      [attr.data-qa-ta]="'textarea-field-' + name"
    ></textarea>
    <mat-hint align="start" [attr.data-qa-ta]="'hint-start-' + name">{{ hint }}</mat-hint>
    <mat-hint align="end" *ngIf="maxLength" [attr.data-qa-ta]="'hint-end-' + name">{{control?.value?.length || 0}}/{{maxLength}}</mat-hint>
    <mat-error [attr.data-qa-ta]="'error-' + name">
      <ng-template
        [ngTemplateOutlet]="errorMessageTemplate"
        [ngTemplateOutletContext]="{ control: control, errors: control?.errors }"
      ></ng-template>
    </mat-error>
  </mat-form-field>
</div>
