<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="100%" fxFlex.gt-md="80%" fxLayout="column" class="pad">
    <mat-card-title class="text-center">{{title}}</mat-card-title>
    <mat-card-content fxFlex class="text center">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <div fxFlex="20%">&nbsp;</div>
        <div fxFlex class="text-center">
          {{message}}
          <a href="tel:1-212-437-4200">1-212-437-4200</a>.
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button color="warn" (click)="toHomepage()">Back To Homepage</button>
    </mat-card-actions>
  </mat-card>
</div>
