@import 'main';
// @use '@angular/material' as mat;
// @include mat.core();
@import './theme/mixins/scrollbars';
@import './theme/mixins/spinner';

[hidden] {
  display: none !important;;
}

body, html {
  font-family: Roboto;
}

html {
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0px;
  @include spinner();
}
.demo-tabs {
  height: 100%;
  .mat-tab-body-wrapper {
    height: calc(100% - 50px);
  }
}
@media only screen and (min-width: 300px) {
  @include scrollbars(4px, $scrollbar-color, $scrollbar-background-color);
}
