<div class="examples">
  <mat-tab-group class="demo-tabs"
                 [selectedIndex]="selected.value"
                 (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="Basic View Model">
      <div *ngIf="selected.value === 0" [style.height.%]="100">
        <demo-component [componentName]="'laws-list'"
                        [demoName]="'laws-list-view-model'"
                        [demoDescription]="'Pass a basic view model with no filter etc.'"
                        class="list">
          <nuarch-laws-list-view-model></nuarch-laws-list-view-model>
        </demo-component>
      </div>
    </mat-tab>
    <mat-tab label="Custom Row Template">
      <div *ngIf="selected.value === 1" [style.height.%]="100">
        <demo-component [componentName]="'laws-list'"
                        [demoName]="'laws-list-row-template'"
                        [demoDescription]="'Pass a view model and custom row template'"
                        class="list">
          <nuarch-laws-list-row-template></nuarch-laws-list-row-template>
        </demo-component>
      </div>
    </mat-tab>
    <mat-tab label="Filter Model">
      <div *ngIf="selected.value === 2" [style.height.%]="100">
        <demo-component [componentName]="'laws-list'"
                        [demoName]="'laws-list-filter-filter-model'"
                        [demoDescription]="'Pass a view model and advance filter model'"
                        class="list">
          <nuarch-laws-list-filter-filter-model></nuarch-laws-list-filter-filter-model>
        </demo-component>
      </div>
    </mat-tab>
    <mat-tab label="Filter Group">
      <div *ngIf="selected.value === 3" [style.height.%]="100">
        <demo-component [componentName]="'laws-list'"
                        [demoName]="'laws-list-filter-filter-group'"
                        [demoDescription]="'Pass a view model, advance filter model and form group'"
                        class="list">
          <nuarch-laws-list-filter-filter-group></nuarch-laws-list-filter-filter-group>
        </demo-component>
      </div>
    </mat-tab>
    <mat-tab label="Filter Template">
      <div *ngIf="selected.value === 4" [style.height.%]="100">
        <demo-component [componentName]="'laws-list'"
                        [demoName]="'laws-list-filter-filter-template'"
                        [demoDescription]="'Pass a view model, advance filter model and form group'"
                        class="list">
          <nuarch-laws-list-filter-filter-template></nuarch-laws-list-filter-filter-template>
        </demo-component>
      </div>
    </mat-tab>
    <mat-tab label="Cards">
      <div *ngIf="selected.value === 5" [style.height.%]="100">
        <demo-component [componentName]="'laws-list'"
                        [demoName]="'laws-list-cards'"
                        [demoDescription]="'Pass a card model'"
                        class="list">
          <nuarch-laws-list-cards></nuarch-laws-list-cards>
        </demo-component>
      </div>
    </mat-tab>
    <mat-tab label="Header Template With Filter">
      <div *ngIf="selected.value === 6" [style.height.%]="100">
        <demo-component [componentName]="'laws-list'"
                        [demoName]="'laws-list-header-with-filter'"
                        [demoDescription]="'Pass header template with filter'"
                        class="list">
          <nuarch-laws-list-header-with-filter></nuarch-laws-list-header-with-filter>
        </demo-component>
      </div>
    </mat-tab>
    <mat-tab label="Header Template With Filter Template">
      <div *ngIf="selected.value === 7" [style.height.%]="100">
        <demo-component [componentName]="'laws-list'"
                        [demoName]="'laws-list-header-template-with-filter-template'"
                        [demoDescription]="'Pass header template with embedded filter Template'"
                        class="list">
          <nuarch-laws-list-header-template-with-filter-template></nuarch-laws-list-header-template-with-filter-template>
        </demo-component>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
