<div class="nuarch-dynamic-input-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
  <mat-form-field class="nuarch-dynamic-input-field"
                  [appearance]="readonly ? 'none' : appearance"
                  [floatLabel]="readonly ? 'always' : 'auto'"
                  [hideRequiredMarker]="readonly">
    <mat-label [attr.data-qa-ta]="'label-' + name">{{label}}</mat-label>
    <input
      #elementInput
      matInput
      [formControl]="control"
      [placeholder]="!readonly ? label : ''"
      [type]="type"
      [required]="required"
      [readonly]="readonly"
      [attr.name]="name"
      [attr.min]="min"
      [attr.max]="max"
      [attr.minLength]="minLength"
      [attr.maxLength]="maxLength"
      [attr.data-qa-ta]="'input-field-' + name"
    />
    <button *ngIf="control?.value && control?.enabled && showClear && !readonly" type="button" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear(control)">
      <mat-icon class="clear-icon">clear</mat-icon>
    </button>
    <mat-hint align="start" [attr.data-qa-ta]="'hint-start-' + name">{{ hint }}</mat-hint>
    <mat-hint align="end" *ngIf="maxLength" [attr.data-qa-ta]="'hint-end-' + name">{{control?.value?.length || 0}}/{{maxLength}}</mat-hint>
    <mat-error [attr.data-qa-ta]="'error-' + name">
      <ng-template
        [ngTemplateOutlet]="errorMessageTemplate"
        [ngTemplateOutletContext]="{ control: control, errors: control?.errors }"
      ></ng-template>
    </mat-error>
  </mat-form-field>
</div>
