<div class="nuarch-dynamic-select-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
  <mat-form-field class="nuarch-dynamic-select-field"
                  [appearance]="readonly ? 'none' : appearance"
                  [floatLabel]="readonly ? 'always' : 'auto'"
                  [hideRequiredMarker]="readonly">
    <mat-label [attr.data-qa-ta]="'label-' + name">{{label}}</mat-label>
    <mat-select #trigger
      [formControl]="control"
      [placeholder]="!readonly ? label : ''"
      [required]="required"
      [attr.name]="name"
      [multiple]="multiple"
      [attr.data-qa-ta]="'select-field-' + name"
      [compareWith]="isValueMatched"
    >
      <mat-option *ngFor="let selection of (isAsyncSelections ? (asyncSelections | async) : selections)"
                  [value]="selection.value || selection">{{ selection.displayText || selection }}
      </mat-option>
    </mat-select>
    <button mat-button *ngIf="control?.value && control?.enabled && showClear && !readonly" matSuffix mat-icon-button aria-label="Clear"
            (click)="clear(control);">
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint [attr.data-qa-ta]="'hint-' + name">{{ hint }}</mat-hint>
    <mat-error [attr.data-qa-ta]="'error-' + name">
      <ng-template
        [ngTemplateOutlet]="errorMessageTemplate"
        [ngTemplateOutletContext]="{ control: control, errors: control?.errors }"
      ></ng-template>
    </mat-error>
  </mat-form-field>
</div>
