<ng-container *ngIf="!pagination">
  <ng-container *ngIf="(page | async) as entityPage">
    <div class="search-table" fxLayout="column" fxLayoutAlign="flex-start" fxFlexFill
         matSort [matSortActive]="active"
         matSortDisableClear
         [matSortDirection]="entityPage?.pageInfo?.sort?.direction"
         (matSortChange)="sortData($event)">
      <div class="header">
        <div class="row header-row" data-qa-ta="search-list-header" fxLayout="row no-wrap" fxLayoutAlign="start center"
             fxFlexFill>
          <ng-container *ngFor="let column of columns">
            <div [fxFlex]="column.flex" [mat-sort-header]="column.value" [disabled]="!column.sortable"
                 [attr.data-qa-ta]="'list-header-' + column.value">{{column.label}}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="search-table-body" data-qa-ta="search-list-table">
      <span *ngIf="noRecordsFound" [hidden]="loading"
            class="no-records">No Records Found</span>
        <span *ngIf="!noRecordsFound && invalidFilter && !entityPage?.entity?.length" [hidden]="loading"
              class="no-records">Fill out the above filters and click Search</span>
        <nuarch-virtual-scroll-container #virtualScroll class="scroll-container" [data]="entityPage?.entity"
                                         (bottom)="loadData()">
          <ng-template let-row="row" let-index="index" nuVirtualScrollRow>
            <div class="row" [style.height.px]="itemSize" fxLayout="row no-wrap" fxLayoutAlign="start center"
                 *ngIf="!!(row?.id)"
                 (click)="selectRecord(row?.id)">
              <ng-container *ngFor="let column of columns">
                <div [fxFlex]="column.flex" [attr.data-qa-ta]="'list-table-' + column.value">
                  <div class="column-value" [class.multi-line]="column.multiLine > 0">{{getCellValue(row, column)}}
                  </div>
                </div>
              </ng-container>
            </div>
            <mat-divider></mat-divider>
          </ng-template>
        </nuarch-virtual-scroll-container>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="pagination">
  <ng-container *ngIf="(page | async) as entityPage">
    <div class="search-table" fxLayout="column" fxLayoutAlign="flex-start" fxFlexFill
         matSort [matSortActive]="active"
         matSortDisableClear
         [matSortDirection]="entityPage?.pageInfo?.sort?.direction"
         (matSortChange)="sortData($event)">
      <div class="header">
        <div class="row header-row" data-qa-ta="search-list-header" fxLayout="row no-wrap" fxLayoutAlign="start center"
             fxFlexFill>
          <ng-container *ngFor="let column of columns">
            <div [fxFlex]="column.flex" [mat-sort-header]="column.value" [disabled]="!column.sortable"
                 [attr.data-qa-ta]="'list-header-' + column.value">{{column.label}}
            </div>
          </ng-container>
        </div>
      </div>
      <div class="search-table-body" data-qa-ta="search-list-table">
      <span *ngIf="noRecordsFound" [hidden]="loading"
            class="no-records">No Records Found</span>
        <span *ngIf="!noRecordsFound && invalidFilter && !entityPage?.entity?.length" [hidden]="loading"
              class="no-records">Fill out the above filters and click Search</span>
        <div fxLayout="row wrap" fxFlexFill
             fxLayoutAlign="start start" class="card-details">
          <ng-template let-index let-item ngFor [ngForOf]="entityPage?.entity">
            <div class="row" [style.height.px]="itemSize" fxLayout="row no-wrap" fxLayoutAlign="start center"
                 *ngIf="!!(item?.id)"
                 (click)="selectRecord(item?.id)">
              <ng-container *ngFor="let column of columns">
                <div [fxFlex]="column.flex" [attr.data-qa-ta]="'list-table-' + column.value">
                  <div class="column-value" [class.multi-line]="column.multiLine > 0">{{getCellValue(item, column)}}
                  </div>
                </div>
              </ng-container>
            </div>
            <mat-divider></mat-divider>
          </ng-template>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
