<div class="nuarch-dynamic-datepicker-wrapper" [class.hidden]="hidden" [class.readonly]="readonly">
  <mat-form-field class="nuarch-dynamic-datepicker-field" [appearance]="appearance">
    <mat-label [attr.data-qa-ta]="'label-' + name">{{label}}</mat-label>
    <input
      #elementInput
      matInput
      [matDatepicker]="dynamicDatePicker"
      [formControl]="control"
      [placeholder]="label"
      [required]="required"
      [name]="name"
      [min]="min"
      [max]="max"
      [attr.data-qa-ta]="'input-field-' + name"
    />
    <mat-hint [attr.data-qa-ta]="'hint-' + name">{{ hint }}</mat-hint>
    <mat-error [attr.data-qa-ta]="'error-' + name">
      <ng-template
        [ngTemplateOutlet]="errorMessageTemplate"
        [ngTemplateOutletContext]="{ control: control, errors: control?.errors }"
      ></ng-template>
    </mat-error>
    <button *ngIf="control?.value && control?.enabled && showClear && !readonly"
            type="button" mat-button matSuffix mat-icon-button aria-label="Clear"
            (click)="clear(control)">
      <mat-icon>close</mat-icon>
    </button>
    <mat-datepicker-toggle matSuffix [for]="dynamicDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #dynamicDatePicker></mat-datepicker>
  </mat-form-field>
</div>
