@use '@angular/material' as mat;
@import '../variables';

@mixin navigation-layout() {
  .inner-side-nav {
    // style -3px due to border
    width: calc(100% - 3px)
  }
  .mat-sidenav {
    width: 288px;
    &.collapsed {
      width: 76px;
      .sidenav-control {
        text-align: center;
        .drawer-toggle {
          position: fixed;
          margin-left: 16px;
          margin-top: 0px;
        }
      }
    }
    .sidenav-control {
      display: block;
      width: 100%;
      text-align: right;
      color: black;
      padding-top: 16px;
      height: 40px;
      &:hover {
        cursor: pointer;
      }
      .drawer-toggle {
        position: fixed;
        margin-left: -16px;
        margin-top: -32px;
      }
    }

    .application-name {
      text-align: left;
      margin-left: 16px;
      color: mat.get-color-from-palette($grey-scale, 50);
    }

    .mat-nav-list {
      .mat-list-item {
        color: white;
        border-left: solid 3px transparent;
        height: 56px;

        .icon {
          color: white;
        }

        .icon-text {
          padding-left: 16px;
        }

        &:hover {
          background: mat.get-color-from-palette($grey-scale, 50, .16);
          border-left: solid 3px mat.get-color-from-palette($grey-scale, 50);
          box-sizing: border-box;

        }
      }

    }

  }

  .mat-drawer {
    background-color: mat.get-color-from-palette($accent, 700);
    border-right: none;
  }


  .badge {
    position: absolute;
    top: 12px;
    right: 0px;
    font-size: 16px;
    color: white;
  }

  .mat-sidenav-content {
    overflow: hidden;
    //background-color: mat-color($accent, darker);

    .toolbar {
      @include mat.elevation(2);
      flex-wrap: wrap;
      background-color: mat.get-color-from-palette($grey-scale, 50);
      height: $header-height;
      font-weight: 400;
      padding: 0;
      position: sticky;
      position: -webkit-sticky; /* For macOS/iOS Safari */
      top: 0; /* Sets the sticky toolbar to be on top */
      z-index: 2; /* Ensure that your app's content doesn't overlap the toolbar */
      border-bottom: solid 2px mat.get-color-from-palette($primary);
      .sidenav-icon {
        height: 100%;
        margin-right: 10px;
      }

      .mat-icon-logo {
        color: initial;
        height: 64px;
        width: 64px;
        position: absolute;
        top: 0.625rem;
        left: calc(50% - 2.5rem);
      }

      .actions {
        font-size: mat.font-size($typography, body-2);
        font-weight: mat.font-weight($typography, body-2);
      }

      .main-header {
        height: 4rem;
        padding: 0 1rem;
        width: 100%;
      }

      .sub-header {
        height: calc(#{$header-height} - 4rem);
        width: 100%;
        padding: 0 1rem;
        background-color: mat.get-color-from-palette(mat.$grey-palette, 700);
      }
    }

    .content {
      margin-left: $content-side-margin;
      margin-right: $content-side-margin;
      font-size: mat.font-size($typography, body-1);
      font-weight: mat.font-weight($typography, body-1);
      height: calc(100% - #{$header-height} - 20px);
      //margin: $card-gutter;
    }

    .history-datepicker {
      position: absolute;
      right: 1em;
    }
  }

  .application-name {
    color: mat.get-color-from-palette($primary);
    margin-bottom: 0;
    letter-spacing: 1px;
    margin-left: $content-side-margin
  }
}
