@mixin scrollbars($width, $foreground-color, $background-color) {
  // For Google Chrome
  ::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  ::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
    background: $background-color;
  }
}
